.App {
  text-align: center;
}

.App {
  background: url(./assets/stars-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App a{
  color:#fff;
  text-decoration: none;

}

.App-header img{
  max-width: 500px;
  width: 80%;
}

@media only screen and (max-width: 576px) {
  h4, .btn {
    font-size: 1rem !important;
  }
  .btn{
    min-width: 110px;
  }
}

